absl-py
astunparse
bcrypt
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cloudinary
cryptography
deep-translator
dnspython
Flask
flask-cors
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
oauthlib
opt_einsum
optree
packaging
pillow
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pymongo
python-dotenv
requests
requests-oauthlib
rich
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
